[Unit]
Description=app
After=network.target

[Service]
ExecStart=/root/app/index.js
Restart=always
Type=simple
#User=nobody
#Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=key=/etc/letsencrypt/live/numerables.com/live.key
Environment=cert=/etc/letsencrypt/live/numerables.com/cert.crt
Environment=ca=/etc/letsencrypt/live/numerables.com/ca.crt
Environment=host=157.230.254.141
Environment=web1=web1
Environment=web2=web2
Environment=dir=app
Environment=https=443
Environment=http=80
Environment=sftp=3000
Environment=app=index.js
Environment=bot=robot.js
Environment=name=numerables.com
Environment=env=web
WorkingDirectory=/root/app

[Install]
WantedBy=multi-user.target
