[Unit]
Description=bot
After=network.target

[Service]
ExecStart=/root/app/robot.js
Restart=always
Type=simple
#User=nobody
#Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=key=/etc/letsencrypt/live/numerables.com/privkey.pem
Environment=cert=/etc/letsencrypt/live/numerables.com/fullchain.pem
Environment=host=157.230.254.141
Environment=dev1=dev1
Environment=dev2=dev2
Environment=dir=app
Environment=https=443
Environment=http=80
Environment=sftp=3000
Environment=app=index.js
Environment=bot=robot.js
Environment=name=numerables.com
Environment=env=dev
WorkingDirectory=/root/app

[Install]
WantedBy=multi-user.target
