[Unit]
Description=app
After=network.target

[Service]
ExecStart=/root/app/index.js
Restart=always
Type=simple
#User=nobody
#Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=key=/etc/letsencrypt/live/spawnables.com/live.key
Environment=cert=/etc/letsencrypt/live/spawnables.com/cert.crt
Environment=ca=/etc/letsencrypt/live/spawnables.com/ca.crt
Environment=def=DEF
Environment=dbx=DBX
Environment=get=GET
Environment=mail=mailto:diane199222@gmail.com
Environment=year=2023
Environment=site=http://localhost:3000
Environment=file=DEF/0000.json
Environment=push=120
Environment=code=0
Environment=size=100000000
Environment=fill=2
Environment=byte=5368709120
Environment=wake=10
Environment=test=1
Environment=lock=
Environment=hash=VzmMkUYYC5179hlcSxMVVexuhW0iW12m
Environment=bond=VzmMkUYYC5179hlcSxMVVexuhW0iW12m
Environment=upon=0
Environment=stack=
Environment=sharp=
Environment=space=
Environment=botid=6668705141:AAFMjtpyX7wMGDlxemLI9deVEzZOxS_49Ws
Environment=grpid=1001831790797
Environment=dir=app
Environment=https=443
Environment=http=80
Environment=sftp=3000
Environment=app=index.js
Environment=bot=robot.js
Environment=pbk=/etc/letsencrypt/live/spawnables.com/bot.pem
Environment=name=spawnables.com
Environment=host=157.230.246.165
Environment=mode=test
Environment=plug=true
WorkingDirectory=/root/app

[Install]
WantedBy=multi-user.target
