[Unit]
Description=app
After=network.target

[Service]
ExecStart=/root/app/index.js
Restart=always
Type=simple
#User=nobody
#Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=key=/etc/letsencrypt/live/saturdaystuff.com/live.key
Environment=cert=/etc/letsencrypt/live/saturdaystuff.com/cert.crt
Environment=ca=/etc/letsencrypt/live/saturdaystuff.com/ca.crt
Environment=file=0000.json
Environment=push=180
Environment=code=0
Environment=size=100000000
Environment=fill=2
Environment=byte=100000000000
Environment=wake=10
Environment=test=0
Environment=hash=VzmMkUYYC5179hlcSxMVVexuhW0iW12m
Environment=bond=VzmMkUYYC5179hlcSxMVVexuhW0iW12m
Environment=ipstack=dabe3a28947dab89660ee5e461bc38a4
Environment=stripe_pk=pk_test_51Lp0t8KrZXv5izFxsLSVDr81inViRvf83TIOcBMibzvN3suGpwswOQmph8jHQPhjvh1DGn3q464K6LMA0h9Qdq1300bIi2o536
Environment=stripe_sk=sk_test_51Lp0t8KrZXv5izFxrTh7FZCzHKIENzyI590U9deuB3jniGmBC66B4OUTOSkOHjcvXZ3JPoqqakJvKXrMlp6WICWD0081ARQMBy
Environment=stripe_on=http://localhost:3000
Environment=space_on=http://localhost:3000
Environment=space_sk=GWfAi+U70Nhc7J3ECUA8jdKbGL0w/wV3SmiEgFdkNKw
Environment=space_pk=KEGWAR4T4MXKN3ECO2PS
Environment=space_ep=sgp1.digitaloceanspaces.com
Environment=space_name=numerables
Environment=space_link=https://numerables.sgp1.digitaloceanspaces.com
Environment=dir=app
Environment=https=443
Environment=http=80
Environment=sftp=3000
Environment=app=index.js
Environment=bot=robot.js
Environment=pbk=/etc/letsencrypt/live/saturdaystuff.com/bot.pem
Environment=name=saturdaystuff.com
Environment=host=159.65.142.71
Environment=mode=test
Environment=plug=true
WorkingDirectory=/root/app

[Install]
WantedBy=multi-user.target
