[Unit]
Description=bot
After=network.target

[Service]
ExecStart=/root/app/robot.js
Restart=always
Type=simple
#User=nobody
#Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=key=/etc/letsencrypt/live/numpic.com/live.key
Environment=cert=/etc/letsencrypt/live/numpic.com/cert.crt
Environment=ca=/etc/letsencrypt/live/numpic.com/ca.crt
Environment=file=0000.json
Environment=push=0
Environment=code=6
Environment=size=10000
Environment=fill=2
Environment=byte=100000000000
Environment=wake=30
Environment=hash=VzmMkUYYC5179hlcSxMVVexuhW0iW12m
Environment=bond=VzmMkUYYC5179hlcSxMVVexuhW0iW12m
Environment=dir=app
Environment=https=443
Environment=http=80
Environment=sftp=3000
Environment=app=index.js
Environment=bot=robot.js
Environment=pbk=/etc/letsencrypt/live/numpic.com/bot.pem
Environment=name=numpic.com
Environment=host=146.190.97.116
Environment=mode=live
Environment=plug=true
WorkingDirectory=/root/app

[Install]
WantedBy=multi-user.target
