[Unit]
Description=bot
After=network.target

[Service]
ExecStart=/root/app/robot.js
Restart=always
Type=simple
#User=nobody
#Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=key=/etc/letsencrypt/live/numpic.pro/live.key
Environment=cert=/etc/letsencrypt/live/numpic.pro/cert.crt
Environment=ca=/etc/letsencrypt/live/numpic.pro/ca.crt
Environment=bag=BAG
Environment=bar=BAR
Environment=bid=BID
Environment=big=BIG
Environment=bin=BIN
Environment=bio=BIO
Environment=box=BOX
Environment=buy=BUY
Environment=env=ENV
Environment=lib=LIB
Environment=mail=mailto:diane199222@gmail.com
Environment=year=2023
Environment=link=https://46.101.91.107
Environment=site=http://localhost:3000
Environment=file=ENV/0000.json
Environment=push=120
Environment=code=0
Environment=size=100000000
Environment=fill=2
Environment=byte=5368709120
Environment=wake=10
Environment=test=1
Environment=lock=
Environment=hash=VzmMkUYYC5179hlcSxMVVexuhW0iW12m
Environment=bond=VzmMkUYYC5179hlcSxMVVexuhW0iW12m
Environment=frame=36
Environment=stamp=36
Environment=score=30
Environment=stack=
Environment=sharp=
Environment=space=
Environment=paypk=pk_test_51Lp0t8KrZXv5izFxsLSVDr81inViRvf83TIOcBMibzvN3suGpwswOQmph8jHQPhjvh1DGn3q464K6LMA0h9Qdq1300bIi2o536
Environment=paysk=sk_test_51Lp0t8KrZXv5izFxrTh7FZCzHKIENzyI590U9deuB3jniGmBC66B4OUTOSkOHjcvXZ3JPoqqakJvKXrMlp6WICWD0081ARQMBy
Environment=botid=6668705141:AAFMjtpyX7wMGDlxemLI9deVEzZOxS_49Ws
Environment=grpid=1001831790797
Environment=dir=app
Environment=https=443
Environment=http=80
Environment=sftp=3000
Environment=app=index.js
Environment=bot=robot.js
Environment=pbk=/etc/letsencrypt/live/numpic.pro/bot.pem
Environment=name=numpic.pro
Environment=host=46.101.91.107
Environment=mode=test
Environment=plug=true
WorkingDirectory=/root/app

[Install]
WantedBy=multi-user.target
