[Unit]
Description=bot
After=network.target

[Service]
ExecStart=/root/app/robot.js
Restart=always
Type=simple
#User=nobody
#Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=key=/etc/letsencrypt/live/gini.wiki/live.key
Environment=cert=/etc/letsencrypt/live/gini.wiki/cert.crt
Environment=ca=/etc/letsencrypt/live/gini.wiki/ca.crt
Environment=def=DEF
Environment=dir=app
Environment=get=GET
Environment=site=http://localhost:3000
Environment=file=DEF/0000.json
Environment=push=120
Environment=code=0
Environment=size=100000000
Environment=fill=2
Environment=byte=5368709120
Environment=wake=10
Environment=test=1
Environment=lock=
Environment=hash=VzmMkUYYC5179hlcSxMVVexuhW0iW12m
Environment=bond=VzmMkUYYC5179hlcSxMVVexuhW0iW12m
Environment=stack=
Environment=sharp=
Environment=space=
Environment=botid=6668705141:AAFMjtpyX7wMGDlxemLI9deVEzZOxS_49Ws
Environment=grpid=1001831790797
Environment=https=443
Environment=http=80
Environment=sftp=3000
Environment=app=index.js
Environment=bot=robot.js
Environment=pbk=/etc/letsencrypt/live/gini.wiki/bot.pem
Environment=name=gini.wiki
Environment=host=139.59.118.42
Environment=mode=test
Environment=plug=true
WorkingDirectory=/root/app

[Install]
WantedBy=multi-user.target
